//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

body {
  margin: 0;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  background-color: @bodyBackground;
}


// Links
// -------------------------

// 千牛中的链接色固定，不随换肤变化
a {
  color: #28a3ef;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #4cb9fc;
  text-decoration: underline;
}
