extends _base

block title
  title 工具插件banner规范

block sidebar
  +sidebar('ad-banner')

block content

  div.docs-description
      img(src='pictures/docs/ad-banner.png?r=2014.06.08')

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
