extends base

block title
  title 桌面规范

block sidebar
  +sidebar('desktop')

block content

  h1 桌面规范

  h2.sui-page-header 设计规范

  div.docs-description
      img(src='pictures/docs/desktop.jpg')

  ul.demo-operations.clearfix
    li
        a(href='#') 下载psd文件


