extends base

block title
  title 桌面规范

block sidebar
  +sidebar('desktop')

block content

  div.docs-description
      img(src='pictures/docs/desktop.jpg')

  ul.demo-operations.clearfix
    li
        a(href='#') 下载psd文件

    
  h2 关于新版本桌面widget尺寸修改的问题
    p.sui-lead
      | 由于千牛客户端桌面widget尺寸的改变（旧版为355*211， 新版为360*210）。原始的规范为widget两侧各10px留白（旧版就为355-2*10 = 335， 新版为360-2*10=340），现在为了兼容新旧尺寸和方便之后版本的维护，内嵌的尺寸直接做340px宽度的即可，请在内部容器上使用 <code>margin:0 auto;</code>样式来实现居中。

