extends base

block title
  title 工具栏规范

block sidebar
  +sidebar('toolbar')

block content

  h1 工具栏规范

  h2.sui-page-header 设计规范

  div.docs-description
      img(src='pictures/docs/toolbar.jpg')

  ul.demo-operations.clearfix
    li
        a(href='#') 下载psd文件


