extends base

block title
  title 工具栏Toolbar规范

block sidebar
  +sidebar('toolbar')

block content
  h1 工具栏Toolbar

  h2.sui-page-header 设计规范
  div.docs-description
      img(src='pictures/docs/toolbar.jpg')

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件

  h2.sui-page-header 开发者文档

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      h3 Icon导航
      div.bs-docs-example
        'div.qn-body' 模拟的是千牛插件内嵌HTML的body元素
        style.
          .qn-body{
            width: 790px;
            background: url(http://gtms02.alicdn.com/tps/i2/T1bkyrFrxhXXXkGU3X-1200-900.jpg) no-repeat;
          }
        div.qn-body
          header
            div.logo
              img(src='http://gtms03.alicdn.com/tps/i3/T1YphpFPRXXXXK3ITg-44-44.png',title='插件名称',alt='插件名称')
              b 插件名称
            nav
              div.nav-item.selected 销售分析
              div.nav-item 访问统计
              div.nav-item 顾客数据
            ul.assist.unstyled
              li
                a(href="#")
                  i.sui-icon.icon-pc-list
                  日志
              li
                a(href="#")
                  i.sui-icon.icon-pc-settings
                  设置
              li
                a(href="#")
                  i.sui-icon.icon-pc-ww
                  反馈
              li
                a(href="#")
                  i.sui-icon.icon-pc-question-circle
                  帮助
    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码


