extends base

block title
  title 工具栏

block sidebar
  +sidebar('toolbar')

block head
  style.
    .sui-navbar {
      z-index: 99999;
    }

    .sui-navbar .navbar-inner {
      background: #6da467;
    }

block content

  h1 工具栏

  h2.sui-page-header 设计规范
  div.docs-description
      img(src='pictures/docs/toolbar.jpg')

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件

  h2.sui-page-header 开发者文档

  p.sui-lead
    ul.unstyled
      li 工具栏默认背景是透明的，一般看到的背景是整个插件的默认背景。当然也可以自己重载背景。
      li 为了和插件容器的顶部更好融合，工具栏里的内容距顶部没有间距，在demo中不是很好看，但是放入千牛容器就会很好看。

  h2 纯文本

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码

  div.tab-content
    div.tab-pane.active#demo1(style='padding-bottom: 50px;')
      div.sui-navbar
        div.navbar-inner
          a.sui-brand(href='#') 
            img(src='http://gtms01.alicdn.com/tps/i1/T1c8xfFBFhXXcTHKnj-56-44.png')
            | 旺铺数据
          ul.sui-nav
            li.active
              a(href='#') 首页
            li
              a(href='#') 数据统计
            li
              a(href='javascript:void(0);') 数据分析

          ul.sui-nav.pull-right.nav-links

            li.active
              a(href='#')
                i.sui-icon.icon-pc-list
                | &nbsp;日志
            li
              a(href='#')
                i.sui-icon.icon-pc-settings
                | &nbsp;设置
            li.sui-dropdown
              a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' data-trigger='hover')
                i.sui-icon.icon-pc-question-circle
                | &nbsp;帮助
              ul.sui-dropdown-menu(role='menu')
                li(role="presentation")
                  a(role="menuitem" tabindex="-1" href="#") 关于
                li(role="presentation")
                  a(role="menuitem" tabindex="-1" href="#") 版权

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1')
  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1') 复制代码

  h2 带图标的导航

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo2', data-toggle='tab') 示例
    li
      a(href='#code2', data-toggle='tab') 代码

  div.tab-content
    div.tab-pane.active#demo2(style='padding-bottom: 50px;')
      div.sui-navbar
        div.navbar-inner
          a.sui-brand(href='#')
            img(src='http://gtms01.alicdn.com/tps/i1/T1c8xfFBFhXXcTHKnj-56-44.png')
            | 旺铺数据
          ul.sui-nav.nav-withicon
            li.active
              a(href='#')
                img(src='assets/imgs/chart.png')
                | 数据报表
            li
              a(href='#')
                img(src='assets/imgs/settings.png')
                | 渠道管理
            li
              a(href='#')
                img(src='assets/imgs/settings.png')
                | 渠道管理

          ul.sui-nav.pull-right.nav-links

            li.active
              a(href='#')
                i.sui-icon.icon-pc-list
                | &nbsp;日志
            li
              a(href='#')
                i.sui-icon.icon-pc-settings
                | &nbsp;设置
            li
              a(href='#')
                i.sui-icon.icon-pc-question-circle
                | &nbsp;帮助
            li.sui-dropdown
              a.dropdown-toggle(href='javascript:void(0);' data-toggle='dropdown' data-trigger='hover') 其他 <i class="caret"></i>
              ul.sui-dropdown-menu(role='menu')
                li(role="presentation")
                  a(role="menuitem" tabindex="-1" href="#") 关于
                li(role="presentation")
                  a(role="menuitem" tabindex="-1" href="#") 版权

    div.tab-pane#code2
      pre.prettyprint.linenums(data-target='#demo2')
  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo2') 复制代码
